---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hi there</h1>
			<p>
				I'm Vardhan Patil, and this is my personal blog, where I'll
				write about stuff I develop, as well as general stuff
			</p>
			<p>
				I'm currently working on <a
					href="https://github.com/DitherWither/butterscotch"
					>Butterscotch OS</a
				>, and will post about that here.
			</p>
			<h3>My Setup</h3>
			<p>
				My current laptop is a HP 15s eq2143AU, with AMD Ryzen 3 5300U
				CPU with Radeon graphics, 8GB Ram. I'm currently running Fedora
				Linux 39 with the GNOME 43 desktop
			</p>
			<p>
				My preferred text editor is VSCode, although I often use neovim
				to edit config files. I use the <a href="https://fishshell.com/"
					>fish</a
				> shell, as it has really good completions, and syntax highlighting,
				and in general tends to work really well the way I want it to with
				little config
			</p>
			<p>
				Before someone asks, I refuse to replace the twitter logo on the
				headerbar with 'X', and will continue calling it twitter
				indefinitely
			</p>
		</main>
		<Footer />
	</body>
</html>
